<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0" />
    <title>IIT Patna</title>
    <!-- Bootstrap CSS (latest version) -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/bootstrap-datepicker.css"
    />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script
      type="text/javascript"
      src="/javascripts/bootstrap-datepicker.js"
    ></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <title>Faculty Login</title>
    
    
  </head>
  <body>
    <!-- <div class="box"> -->
    <nav class="navbar bg-body-tertiary">
      <div
        class="container-fluname d-flex justify-content-center align-items-center"
      >
        <span class="navbar-brand mb-4 h1 form-name"
          >Application for Faculty Position</span
        >
      </div>
    </nav>
    <%= console.log(formData); %>
    <div class="col-xs-12 col-sm-12 col-md-12 well">
      <form class="form-horizontal" action="/page2" method="post">
        <legend>
          <div class="row">
            <div class="col-md-8">
              <h4 class="Welcome">
                Welcome :
                <font color="#025198"
                  ><strong> <%= session.first_name %></strong></font
                >
              </h4>
            </div>

            <div class="col-md-3">
              <a href="#" class="btn btn-lg btn-info pull-right btn-light"
                >Change Password</a
              >
            </div>
            <div class="col-md-1">
              <a href="/" class="btn btn-lg btn-success pull-right btn-light"
                >Logout</a
              >
            </div>
          </div>
        </legend>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <h4 style="font-weight: bold">2. Educational Qualifications</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">(A) Educational Qualifications</div>

              <div class="panel-body">
                <div class="col-md-10">
                  <div class="row col-md-6">
                    <div class="mb-3">
                      <label for="university" class="form-label address-heading"
                        >University/Institute</label
                      >
                      <input type="text" class="form-control" name="PhD_university" />
                    </div>
                    <div class="mb-3">
                      <label
                        for="phdSupervisor"
                        class="form-label address-heading"
                        >Name of PhD Supervisor</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="PhD_supervisor"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="thesisDefenceDate"
                        class="form-label address-heading"
                        >Date of Successful Thesis Defence</label
                      >
                      <input
                        type="date"
                        class="form-control"
                        name="PhD_thesis_defence"
                      />
                    </div>
                  </div>

                  <div class="row col-md-6">
                    <div class="mb-3">
                      <label for="department" class="form-label address-heading"
                        >Department</label
                      >
                      <input type="text" class="form-control" name="PhD_Department" />
                    </div>
                    <div class="mb-3">
                      <label
                        for="phd_joiningYear"
                        class="form-label address-heading"
                        >Year of Joining</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="PhD_year_of_joining"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="awardDate" class="form-label address-heading"
                        >Date of Award</label
                      >
                      <input type="date" class="form-control" name="PhD_Award_date" />
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-3">
                    <label
                      for="phdThesisTitle"
                      class="form-label address-heading"
                      >Title of PhD Thesis</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="PhD_thesis_title"
                      placeholder="Title of PhD Thesis"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add the following div for Educational Qualifications -->

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                (B) Academic Details - M. Tech./ M.E./ PG Details
              </div>
              <div class="panel-body">
                <div class="row">
                  <!-- Column 1 -->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label
                        for="degreeCertificate"
                        class="form-label address-heading"
                        >Degree/Certificate</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="MTech_degree"
                        placeholder="Degree/Certificate"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="branchStream"
                        class="form-label address-heading"
                        >Branch/Stream</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="MTech_branch"
                        placeholder="Branch/Stream"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="completionYear"
                        class="form-label address-heading"
                        >Year of Completion</label
                      >
                      <input
                        type="year"
                        class="form-control"
                        name="MTech_year_of_completion"
                        placeholder="Year of Completion"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="percentageCGPA"
                        class="form-label address-heading"
                        >Percentage/CGPA</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="MTech_CGPA"
                        placeholder="Percentage/CGPA"
                      />
                    </div>
                  </div>
                  <!-- Column 2 -->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label
                        for="universityInstitute"
                        class="form-label address-heading"
                        >University/Institute</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="MTech_university"
                        placeholder="University/Institute"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="joiningYear"
                        class="form-label address-heading"
                        >Year of Joining</label
                      >
                      <input
                        type="year"
                        class="form-control"
                        name="MTech_year_of_joining"
                        placeholder="Year of Joining"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="durationYears"
                        class="form-label address-heading"
                        >Duration (in years)</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="MTech_duration"
                        placeholder="Duration (in years)"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="divisionClass"
                        class="form-label address-heading"
                        >Division/Class</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="MTech_division"
                        placeholder="Division/Class"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading" required>
                (B) Academic Details - B. Tech./ B.E./ UG Details
              </div>
              <div class="panel-body">
                <div class="row">
                  <!-- Column 1 -->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label
                        for="degreeCertificate"
                        class="form-label address-heading"
                        >Degree/Certificate</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="BTech_degree"
                        placeholder="Degree/Certificate"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="branchStream"
                        class="form-label address-heading"
                        >Branch/Stream</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="BTech_branch"
                        placeholder="Branch/Stream"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="completionYear"
                        class="form-label address-heading"
                        >Year of Completion</label
                      >
                      <input
                        type="year"
                        class="form-control"
                        name="BTech_year_of_completion"
                        placeholder="Year of Completion"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="percentageCGPA"
                        class="form-label address-heading"
                        >Percentage/CGPA</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="BTech_cgpa"
                        placeholder="Percentage/CGPA"
                      />
                    </div>
                  </div>
                  <!-- Column 2 -->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label
                        for="universityInstitute"
                        class="form-label address-heading"
                        >University/Institute</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="BTech_university"
                        placeholder="University/Institute"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="joiningYear"
                        class="form-label address-heading"
                        >Year of Joining</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="BTech_year_of_joining"
                        placeholder="Year of Joining"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="durationYears"
                        class="form-label address-heading"
                        >Duration (in years)</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="BTech_duration"
                        placeholder="Duration (in years)"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="divisionClass"
                        class="form-label address-heading"
                        >Division/Class</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="BTech_division"
                        placeholder="Division/Class"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">(D) Academic Details - School *</div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr height="30px">
                      <th class="col-md-3">10th/12th/HSC/Diploma</th>
                      <th class="col-md-3">School</th>
                      <th class="col-md-1">Year of Passing</th>
                      <th class="col-md-2">Percentage/ Grade</th>
                      <th class="col-md-2">Division/Class</th>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="12th"
                          
                          type="text"
                          
                          placeholder=""
                          class="form-control input-md"
                          readonly=""
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                         name="12th"
                          type="text"
                          value="Non nisi consectetur."
                          placeholder="School"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                        name="12th"
                          type="text"
                          value="4eplL"
                          placeholder="Passing Year"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="12th"
                          type="text"
                          value="657 V"
                          placeholder="Percentage/Grade"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="12th"
                          type="text"
                          value="Harum"
                          placeholder="Percentage/Grade"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="10th"
                          type="text"
                          
                          placeholder=""
                          class="form-control input-md"
                          
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="10th"
                          type="text"
                          value="Vitae dolor quos minima doloribus cumque."
                          placeholder="School"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                        name="10th"
                          type="text"
                          value="ZAImK"
                          placeholder="Passing Year"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="10th"
                          type="text"
                          value="818 T"
                          placeholder="Percentage/Grade"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="10th"
                          type="text"
                          value="Tempo"
                          placeholder="Percentage/Grade"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                (E) Additional Educational Qualification (If any)
                <button class="btn btn-sm btn-danger" name="add_more_acde">
                  Add More
                </button>
              </div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <tbody name="acde">
                    <tr height="30px">
                      <th class="col-md-2">Degree/Certificate</th>
                      <th class="col-md-2">University/Institute</th>
                      <th class="col-md-2">Branch/Stream</th>
                      <th class="col-md-1">Year of Joining</th>
                      <th class="col-md-1">Year of Completion</th>
                      <th class="col-md-1">Duration (in years)</th>
                      <th class="col-md-3">Percentage/ CGPA</th>
                      <th class="col-md-3">Division/Class</th>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="add_degree1"
                          
                          type="text"
                          value="966 Parker"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="1354 Reichert Parkway"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="3085 Ethelyn Stravenue"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="198 S"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="356 T"
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="2075"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="5108 "
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="Imped"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="25064 Feli"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="626 Otho Freeway"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="8482 Rogahn Corners"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="5909 "
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="1116 "
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="7948"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="2578 "
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                        name="add_degree1"
                          type="text"
                          value="Adipi"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="3694 Althe"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="2196 Flatley Place"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="632 Kendall Streets"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="681 M"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="1828 "
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="2225"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="518 L"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="Illum"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="795 Quinte"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="31726 Rodriguez Prairie"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="180 Botsford Road"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="375 M"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="4494 "
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="380"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="275 D"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="Aliqu"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    
                    
                    
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-1">
            <a
              href="/form"
              class="btn btn-primary pull-left"
              previewlistener="true"
              ><i class="glyphicon glyphicon-fast-backward"></i
            ></a>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 text-end">
              <button type="submit" class="btn btn-primary submit" >
                Save and Next
              </button>
            </div>
          </div>
      </form>
    </div>
    <!-- </div> -->
    <!-- Bootstrap Scripts (latest version) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  </body>
</html>