<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0" />
    <title>IIT Patna</title>
    <!-- Bootstrap CSS (latest version) -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/bootstrap-datepicker.css"
    />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script
      type="text/javascript"
      src="/javascripts/bootstrap-datepicker.js"
    ></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/forms.css" rel="stylesheet" />
    <title>Faculty Login</title>
  </head>
  <body>
    <!-- <div class="box"> -->
    <nav class="navbar bg-body-tertiary">
      <div
        class="container-fluname d-flex justify-content-center align-items-center"
      >
        <span class="navbar-brand mb-4 h1 form-name"
          >Application for Faculty Position</span
        >
      </div>
    </nav>

    <div class="col-xs-12 col-sm-12 col-md-12 well">
      <form class="form-horizontal" action="/page5" method="post">
        <legend>
          <div class="row">
            <div class="col-md-8">
              <h4 class="Welcome">
                Welcome :
                <font color="#025198"
                  ><strong> <%= session.first_name %></strong></font
                >
              </h4>
            </div>

            <div class="col-md-3">
              <a href="#" class="btn btn-lg btn-info pull-right btn-light"
                >Change Password</a
              >
            </div>
            <div class="col-md-1">
              <a href="/" class="btn btn-lg btn-success pull-right btn-light"
                >Logout</a
              >
            </div>
          </div>
        </legend>
        <div class="box">
          <br />
          <h4>9. Membership of Professional Societies</h4>

          <section style="border: 1px solid #d6e9c6; margin-top: 10px">
            <legend>
              Fill the Details
              <button
                id="add_more_education"
                style="
                  background-color: red;
                  color: white;
                  font-size: 12px;
                  font-family: 'Oswald', sans-serif;
                  border: transparent;
                "
              >
                Add More
              </button>
            </legend>
            <div class="panel-body">
              <table class="dataTable">
                <thead>
                  <tr class="headings">
                    <th class="p5-t1-c1">S.No.</th>
                    <th class="p5-t1-c2">Name of the Professional Society</th>
                    <th class="p5-t1-c3">
                      Membership Status (Lifetime/Annual)
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p5-t1-c1"><p>1</p></td>
                    <td class="p5-t1-c2">
                      <input type="text" name="professional_societies" />
                    </td>
                    <td class="p5-t1-c3">
                      <input type="text" name="professional_societies" />
                    </td>
                  </tr>
                  <tr>
                    <td class="p5-t1-c1"><p>2</p></td>
                    <td class="p5-t1-c2">
                      <input type="text" name="professional_societies" />
                    </td>
                    <td class="p5-t1-c3">
                      <input type="text" name="professional_societies" />
                    </td>
                  </tr>
                  <tr>
                    <td class="p5-t1-c1"><p>3</p></td>
                    <td class="p5-t1-c2">
                      <input type="text" name="professional_societies" />
                    </td>
                    <td class="p5-t1-c3">
                      <input type="text" name="professional_societies" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <br />

          <h4>10. Professional Training</h4>
          <section style="border: 1px solid #d6e9c6; margin-top: 10px">
            <legend>
              Fill the Details
              <button
                id="add_more_education"
                style="
                  background-color: red;
                  color: white;
                  font-size: 12px;
                  font-family: 'Oswald', sans-serif;
                  border: transparent;
                "
              >
                Add More
              </button>
            </legend>
            <div class="panel-body">
              <table class="dataTable">
                <thead>
                  <tr class="headings">
                    <th class="p5-t2-c1">S.No.</th>
                    <th class="p5-t2-c2">Type of Training Received</th>
                    <th class="p5-t2-c3">Organisation</th>
                    <th class="p5-t2-c4">Year</th>
                    <th class="p5-t2-c5">Duration (in years & months)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p5-t2-c1"><p>1</p></td>
                    <td class="p5-t2-c2">
                      <input type="text" name="professional_training" />
                    </td>
                    <td class="p5-t2-c3">
                      <input type="text" name="professional_training" />
                    </td>
                    <td class="p5-t2-c4">
                      <input type="text" name="professional_training" />
                    </td>
                    <td class="p5-t2-c5">
                      <input type="text" name="professional_training" />
                    </td>
                  </tr>
                  <tr>
                    <td class="p5-t2-c1"><p>2</p></td>
                    <td class="p5-t2-c2">
                      <input type="text" name="professional_training" />
                    </td>
                    <td class="p5-t2-c3">
                      <input type="text" name="professional_training" />
                    </td>
                    <td class="p5-t2-c4">
                      <input type="text" name="professional_training" />
                    </td>
                    <td class="p5-t2-c5">
                      <input type="text" name="professional_training" />
                    </td>
                  </tr>
                  <tr>
                    <td class="p5-t2-c1"><p>3</p></td>
                    <td class="p5-t2-c2">
                      <input type="text" name="professional_training" />
                    </td>
                    <td class="p5-t2-c3">
                      <input type="text" name="professional_training" />
                    </td>
                    <td class="p5-t2-c4">
                      <input type="text" name="professional_training" />
                    </td>
                    <td class="p5-t2-c5">
                      <input type="text" name="professional_training" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

          <br />
          <h4>11. Award(s) and Recognition(s)</h4>
          <section style="border: 1px solid #d6e9c6; margin-top: 10px">
            <legend>
              Fill the Details
              <button
                id="add_more_education"
                style="
                  background-color: red;
                  color: white;
                  font-size: 12px;
                  font-family: 'Oswald', sans-serif;
                  border: transparent;
                "
              >
                Add More
              </button>
            </legend>
            <div class="panel-body">
              <table class="dataTable">
                <thead>
                  <tr class="headings">
                    <th class="p5-t3-c1">S.No.</th>
                    <th class="p5-t3-c2">Name of Award</th>
                    <th class="p5-t3-c3">Awarded By</th>
                    <th class="p5-t3-c4">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- TODO: Remove -->
                  <tr>
                    <td class="p5-t3-c1"><p>1</p></td>
                    <td class="p5-t3-c2">
                      <input type="text" name="awards" />
                    </td>
                    <td class="p5-t3-c3">
                      <input type="text" name="awards" />
                    </td>
                    <td class="p5-t3-c4">
                      <input type="text" name="awards" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

          <br />
          <h4>12. Sponsored Projects/ Consultancy Details</h4>
          <section>
            <legend>
              (A) Sponsored Projects
              <button
                id="add_more_education"
                style="
                  background-color: red;
                  color: white;
                  font-size: 12px;
                  font-family: 'Oswald', sans-serif;
                  border: transparent;
                "
              >
                Add More
              </button>
            </legend>
            <div class="panel-body">
              <table class="dataTable">
                <thead>
                  <tr class="headings">
                    <th class="p5-t4-c1">S.No.</th>
                    <th class="p5-t4-c2">Sponsoring Agency</th>
                    <th class="p5-t4-c3">Title of Project</th>
                    <th class="p5-t4-c4">Sanctioned Amount (₹)</th>
                    <th class="p5-t4-c5">Period</th>
                    <th class="p5-t4-c6">Role</th>
                    <th class="p5-t4-c7">Status (Completed/On-going)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p5-t4-c1"><p>1</p></td>
                    <td class="p5-t4-c2">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c3">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c4">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c5">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c6">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c7">
                      <input type="text" name="sponsored_projects" />
                    </td>
                  </tr>
                  <tr>
                    <td class="p5-t4-c1"><p>2</p></td>
                    <td class="p5-t4-c2">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c3">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c4">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c5">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c6">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c7">
                      <input type="text" name="sponsored_projects" />
                    </td>
                  </tr>
                  <tr>
                    <td class="p5-t4-c1"><p>3</p></td>
                    <td class="p5-t4-c2">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c3">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c4">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c5">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c6">
                      <input type="text" name="sponsored_projects" />
                    </td>
                    <td class="p5-t4-c7">
                      <input type="text" name="sponsored_projects" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

          <section style="border: 1px solid #d6e9c6; margin-top: 10px">
            <legend>
              (B) Consultancy Projects
              <button
                id="add_more_education"
                style="
                  background-color: red;
                  color: white;
                  font-size: 12px;
                  font-family: 'Oswald', sans-serif;
                  border: transparent;
                "
              >
                Add More
              </button>
            </legend>
            <div class="panel-body">
              <table class="dataTable">
                <thead>
                  <tr class="headings">
                    <th class="p5-t5-c1">S.No.</th>
                    <th class="p5-t5-c2">Organisation</th>
                    <th class="p5-t5-c3">Title of Project</th>
                    <th class="p5-t5-c4">Amount of Grant</th>
                    <th class="p5-t5-c5">Period</th>
                    <th class="p5-t5-c6">Role</th>
                    <th class="p5-t5-c7">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p5-t5-c1"><p>1</p></td>
                    <td class="p5-t5-c2">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c3">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c4">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c5">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c6">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c7">
                      <input type="text" name="consultancy_projects" />
                    </td>
                  </tr>
                  <tr>
                    <td class="p5-t5-c1"><p>2</p></td>
                    <td class="p5-t5-c2">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c3">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c4">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c5">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c6">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c7">
                      <input type="text" name="consultancy_projects" />
                    </td>
                  </tr>
                  <tr>
                    <td class="p5-t5-c1"><p>3</p></td>
                    <td class="p5-t5-c2">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c3">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c4">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c5">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c6">
                      <input type="text" name="consultancy_projects" />
                    </td>
                    <td class="p5-t5-c7">
                      <input type="text" name="consultancy_projects" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>

        <div class="form-group">
          <div class="col-md-1">
            <a
              href="/form"
              class="btn btn-primary pull-left"
              previewlistener="true"
              ><i class="glyphicon glyphicon-fast-backward"></i
            ></a>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 text-end">
              <button type="submit" class="btn btn-primary submit">
                Save and Next
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- </div> -->
    <!-- Bootstrap Scripts (latest version) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
