<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0" />
    <title>IIT Patna</title>
    <!-- Bootstrap CSS (latest version) -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/bootstrap-datepicker.css"
    />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script
      type="text/javascript"
      src="/javascripts/bootstrap-datepicker.js"
    ></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <title>Faculty Login</title>
    <script>
      function onSubmit() {
        // Collect data from table inputs
        const tableRows = document.querySelectorAll('tbody tr');
        const tableData = [];
    
        tableRows.forEach(row => {
          const rowData = {};
          const rowInputs = row.querySelectorAll('input');
          rowInputs.forEach(input => {
            rowData[input.name] = input.value;
          });
          tableData.push(rowData);
        });
    
        // Collect data from other inputs
        
        // Add table row data to form data
        formData.push({ tableData: tableData });
    
        // Send data to server as JSON
        fetch('/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formData)
        }).then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        }).then(data => {
          console.log(data);
        }).catch(error => {
          console.error('Error:', error);
        });
      }
    </script>
    
  </head>
  <body>
    <!-- <div class="box"> -->
    <nav class="navbar bg-body-tertiary">
      <div
        class="container-fluname d-flex justify-content-center align-items-center"
      >
        <span class="navbar-brand mb-4 h1 form-name"
          >Application for Faculty Position</span
        >
      </div>
    </nav>

    <div class="col-xs-12 col-sm-12 col-md-12 well">
      <form class="form-horizontal" action="/page2" method="post">
        <legend>
          <div class="row">
            <div class="col-md-8">
              <h4 class="Welcome">
                Welcome :
                <font color="#025198"
                  ><strong> <%= session.first_name %></strong></font
                >
              </h4>
            </div>

            <div class="col-md-3">
              <a href="#" class="btn btn-lg btn-info pull-right btn-light"
                >Change Password</a
              >
            </div>
            <div class="col-md-1">
              <a href="/" class="btn btn-lg btn-success pull-right btn-light"
                >Logout</a
              >
            </div>
          </div>
        </legend>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <h4 style="font-weight: bold">2. Educational Qualifications</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">(A) Educational Qualifications</div>

              <div class="panel-body">
                <div class="col-md-10">
                  <div class="row col-md-6">
                    <div class="mb-3">
                      <label for="university" class="form-label address-heading"
                        >University/Institute</label
                      >
                      <input type="text" class="form-control" name="university" />
                    </div>
                    <div class="mb-3">
                      <label
                        for="phdSupervisor"
                        class="form-label address-heading"
                        >Name of PhD Supervisor</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="phdSupervisor"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="thesisDefenceDate"
                        class="form-label address-heading"
                        >Date of Successful Thesis Defence</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="thesisDefenceDate"
                      />
                    </div>
                  </div>

                  <div class="row col-md-6">
                    <div class="mb-3">
                      <label for="department" class="form-label address-heading"
                        >Department</label
                      >
                      <input type="text" class="form-control" name="department" />
                    </div>
                    <div class="mb-3">
                      <label
                        for="joiningYear"
                        class="form-label address-heading"
                        >Year of Joining</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="joiningYear"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="awardDate" class="form-label address-heading"
                        >Date of Award</label
                      >
                      <input type="text" class="form-control" name="awardDate" />
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-3">
                    <label
                      for="phdThesisTitle"
                      class="form-label address-heading"
                      >Title of PhD Thesis</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="phdThesisTitle"
                      placeholder="Title of PhD Thesis"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add the following div for Educational Qualifications -->

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                (B) Academic Details - M. Tech./ M.E./ PG Details
              </div>
              <div class="panel-body">
                <div class="row">
                  <!-- Column 1 -->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label
                        for="degreeCertificate"
                        class="form-label address-heading"
                        >Degree/Certificate</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="degreeCertificate"
                        placeholder="Degree/Certificate"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="branchStream"
                        class="form-label address-heading"
                        >Branch/Stream</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="branchStream"
                        placeholder="Branch/Stream"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="completionYear"
                        class="form-label address-heading"
                        >Year of Completion</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="completionYear"
                        placeholder="Year of Completion"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="percentageCGPA"
                        class="form-label address-heading"
                        >Percentage/CGPA</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="percentageCGPA"
                        placeholder="Percentage/CGPA"
                      />
                    </div>
                  </div>
                  <!-- Column 2 -->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label
                        for="universityInstitute"
                        class="form-label address-heading"
                        >University/Institute</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="universityInstitute"
                        placeholder="University/Institute"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="joiningYear"
                        class="form-label address-heading"
                        >Year of Joining</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="joiningYear"
                        placeholder="Year of Joining"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="durationYears"
                        class="form-label address-heading"
                        >Duration (in years)</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="durationYears"
                        placeholder="Duration (in years)"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="divisionClass"
                        class="form-label address-heading"
                        >Division/Class</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="divisionClass"
                        placeholder="Division/Class"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading" required>
                (B) Academic Details - B. Tech./ B.E./ UG Details
              </div>
              <div class="panel-body">
                <div class="row">
                  <!-- Column 1 -->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label
                        for="degreeCertificate"
                        class="form-label address-heading"
                        >Degree/Certificate</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="degreeCertificate"
                        placeholder="Degree/Certificate"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="branchStream"
                        class="form-label address-heading"
                        >Branch/Stream</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="branchStream"
                        placeholder="Branch/Stream"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="completionYear"
                        class="form-label address-heading"
                        >Year of Completion</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="completionYear"
                        placeholder="Year of Completion"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="percentageCGPA"
                        class="form-label address-heading"
                        >Percentage/CGPA</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="percentageCGPA"
                        placeholder="Percentage/CGPA"
                      />
                    </div>
                  </div>
                  <!-- Column 2 -->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label
                        for="universityInstitute"
                        class="form-label address-heading"
                        >University/Institute</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="universityInstitute"
                        placeholder="University/Institute"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="joiningYear"
                        class="form-label address-heading"
                        >Year of Joining</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="joiningYear"
                        placeholder="Year of Joining"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="durationYears"
                        class="form-label address-heading"
                        >Duration (in years)</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="durationYears"
                        placeholder="Duration (in years)"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="divisionClass"
                        class="form-label address-heading"
                        >Division/Class</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="divisionClass"
                        placeholder="Division/Class"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">(D) Academic Details - School *</div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr height="30px">
                      <th class="col-md-3">10th/12th/HSC/Diploma</th>
                      <th class="col-md-3">School</th>
                      <th class="col-md-1">Year of Passing</th>
                      <th class="col-md-2">Percentage/ Grade</th>
                      <th class="col-md-2">Division/Class</th>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="12th"
                          
                          type="text"
                          
                          placeholder=""
                          class="form-control input-md"
                          readonly=""
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="Non nisi consectetur."
                          placeholder="School"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="4eplL"
                          placeholder="Passing Year"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="657 V"
                          placeholder="Percentage/Grade"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="Harum"
                          placeholder="Percentage/Grade"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="10th"
                          type="text"
                          
                          placeholder=""
                          class="form-control input-md"
                          
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="Vitae dolor quos minima doloribus cumque."
                          placeholder="School"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="ZAImK"
                          placeholder="Passing Year"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="818 T"
                          placeholder="Percentage/Grade"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          
                          type="text"
                          value="Tempo"
                          placeholder="Percentage/Grade"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                (E) Additional Educational Qualification (If any)
                <button class="btn btn-sm btn-danger" name="add_more_acde">
                  Add More
                </button>
              </div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <tbody name="acde">
                    <tr height="30px">
                      <th class="col-md-2">Degree/Certificate</th>
                      <th class="col-md-2">University/Institute</th>
                      <th class="col-md-2">Branch/Stream</th>
                      <th class="col-md-1">Year of Joining</th>
                      <th class="col-md-1">Year of Completion</th>
                      <th class="col-md-1">Duration (in years)</th>
                      <th class="col-md-3">Percentage/ CGPA</th>
                      <th class="col-md-3">Division/Class</th>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="add_degree1"
                          name="add_degree[]"
                          type="text"
                          value="966 Parker"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_college1"
                          name="add_college[]"
                          type="text"
                          value="1354 Reichert Parkway"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_subjects1"
                          name="add_subjects[]"
                          type="text"
                          value="3085 Ethelyn Stravenue"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_yoj1"
                          name="add_yoj[]"
                          type="text"
                          value="198 S"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_yog1"
                          name="add_yog[]"
                          type="text"
                          value="356 T"
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_duration1"
                          name="add_duration[]"
                          type="text"
                          value="2075"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_perce1"
                          name="add_perce[]"
                          type="text"
                          value="5108 "
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_rank1"
                          name="add_rank[]"
                          type="text"
                          value="Imped"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="add_degree2"
                          name="add_degree[]"
                          type="text"
                          value="25064 Feli"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_college2"
                          name="add_college[]"
                          type="text"
                          value="626 Otho Freeway"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_subjects2"
                          name="add_subjects[]"
                          type="text"
                          value="8482 Rogahn Corners"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_yoj2"
                          name="add_yoj[]"
                          type="text"
                          value="5909 "
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_yog2"
                          name="add_yog[]"
                          type="text"
                          value="1116 "
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_duration2"
                          name="add_duration[]"
                          type="text"
                          value="7948"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_perce2"
                          name="add_perce[]"
                          type="text"
                          value="2578 "
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_rank2"
                          name="add_rank[]"
                          type="text"
                          value="Adipi"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="add_degree3"
                          name="add_degree[]"
                          type="text"
                          value="3694 Althe"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_college3"
                          name="add_college[]"
                          type="text"
                          value="2196 Flatley Place"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_subjects3"
                          name="add_subjects[]"
                          type="text"
                          value="632 Kendall Streets"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_yoj3"
                          name="add_yoj[]"
                          type="text"
                          value="681 M"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_yog3"
                          name="add_yog[]"
                          type="text"
                          value="1828 "
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_duration3"
                          name="add_duration[]"
                          type="text"
                          value="2225"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_perce3"
                          name="add_perce[]"
                          type="text"
                          value="518 L"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_rank3"
                          name="add_rank[]"
                          type="text"
                          value="Illum"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="add_degree4"
                          name="add_degree[]"
                          type="text"
                          value="795 Quinte"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_college4"
                          name="add_college[]"
                          type="text"
                          value="31726 Rodriguez Prairie"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_subjects4"
                          name="add_subjects[]"
                          type="text"
                          value="180 Botsford Road"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_yoj4"
                          name="add_yoj[]"
                          type="text"
                          value="375 M"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_yog4"
                          name="add_yog[]"
                          type="text"
                          value="4494 "
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_duration4"
                          name="add_duration[]"
                          type="text"
                          value="380"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_perce4"
                          name="add_perce[]"
                          type="text"
                          value="275 D"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_rank4"
                          name="add_rank[]"
                          type="text"
                          value="Aliqu"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="add_degree5"
                          name="add_degree[]"
                          type="text"
                          value="4492 Leora"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_college5"
                          name="add_college[]"
                          type="text"
                          value="8327 O'Kon Rest"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_subjects5"
                          name="add_subjects[]"
                          type="text"
                          value="939 Carolina Circle"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_yoj5"
                          name="add_yoj[]"
                          type="text"
                          value="84804"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_yog5"
                          name="add_yog[]"
                          type="text"
                          value="978 E"
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_duration5"
                          name="add_duration[]"
                          type="text"
                          value="9339"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_perce5"
                          name="add_perce[]"
                          type="text"
                          value="735 L"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_rank5"
                          name="add_rank[]"
                          type="text"
                          value="Cumqu"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="add_degree6"
                          name="add_degree[]"
                          type="text"
                          value="7714 Corwi"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_college6"
                          name="add_college[]"
                          type="text"
                          value="2136 Klein Groves"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_subjects6"
                          name="add_subjects[]"
                          type="text"
                          value="9199 Eula Track"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_yoj6"
                          name="add_yoj[]"
                          type="text"
                          value="44955"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_yog6"
                          name="add_yog[]"
                          type="text"
                          value="18030"
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_duration6"
                          name="add_duration[]"
                          type="text"
                          value="815"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_perce6"
                          name="add_perce[]"
                          type="text"
                          value="72170"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_rank6"
                          name="add_rank[]"
                          type="text"
                          value="Autem"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="add_degree7"
                          name="add_degree[]"
                          type="text"
                          value="1925 Borer"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_college7"
                          name="add_college[]"
                          type="text"
                          value="533 Aglae Trace"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_subjects7"
                          name="add_subjects[]"
                          type="text"
                          value="91625 Agnes Common"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_yoj7"
                          name="add_yoj[]"
                          type="text"
                          value="437 E"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_yog7"
                          name="add_yog[]"
                          type="text"
                          value="7834 "
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_duration7"
                          name="add_duration[]"
                          type="text"
                          value="640"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_perce7"
                          name="add_perce[]"
                          type="text"
                          value="93366"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_rank7"
                          name="add_rank[]"
                          type="text"
                          value="Recus"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>

                    <tr height="60px">
                      <td class="col-md-2">
                        <input
                          name="add_degree8"
                          name="add_degree[]"
                          type="text"
                          value="6529 Stoke"
                          placeholder="Degree"
                          class="form-control input-md"
                          maxlength="10"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_college8"
                          name="add_college[]"
                          type="text"
                          value="54327 Douglas Cliffs"
                          placeholder="College"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_subjects8"
                          name="add_subjects[]"
                          type="text"
                          value="53866 Hagenes Field"
                          placeholder="Subjects"
                          class="form-control input-md"
                          maxlength="80"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_yoj8"
                          name="add_yoj[]"
                          type="text"
                          value="321 T"
                          placeholder="Year of Joining"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_yog8"
                          name="add_yog[]"
                          type="text"
                          value="823 F"
                          placeholder="Year of Graduation"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                      <td class="col-md-2">
                        <input
                          name="add_duration8"
                          name="add_duration[]"
                          type="text"
                          value="8049"
                          placeholder="Duration"
                          class="form-control input-md"
                          maxlength="4"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_perce8"
                          name="add_perce[]"
                          type="text"
                          value="71140"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>

                      <td class="col-md-2">
                        <input
                          name="add_rank8"
                          name="add_rank[]"
                          type="text"
                          value="Eaque"
                          placeholder="Percentage"
                          class="form-control input-md"
                          maxlength="5"
                          required=""
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-1">
            <a
              href="/form"
              class="btn btn-primary pull-left"
              previewlistener="true"
              ><i class="glyphicon glyphicon-fast-backward"></i
            ></a>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 text-end">
              <button type="submit" class="btn btn-primary submit" onclick="onSubmit()">
                Save and Next
              </button>
            </div>
          </div>
      </form>
    </div>
    <!-- </div> -->
    <!-- Bootstrap Scripts (latest version) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
