.titleBox {
  background-color: #7aa2e3;
}
.btn {
  background-color: #7aa2e3;
}
.logo {
  height: 150px;
  width: 150px;
  align-self: center;
  margin-left: 25%;
  margin-right: 25%;
}

.title-container {
  align-items: center;
  align-content: center;
}
.institute-name {
  text-align: center;
}
.form-name {
  text-align: center;
  font-size: 3rem;
}
.navbar {
  align-content: center;
  margin-top: 2.5%;
}
